{% extends 'Admin.html.twig' %}

{% block title %}Reservation
{% endblock %}
{% block Sidebar %}
	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>

					<li>
						<a href="{{ path('app_homeAdmin') }}">
							<i class="fe fe-star"></i>
							<span>Tableau de bord</span>
						</a>
					</li>

					<li>
						<a href="{{ path('app_residence_new') }}">
							<i class="fe fe-home"></i>
							<span>Résidences</span>
						</a>
					</li>
					<li class="active">
						<a href="{{ path('app_reservation_index') }}">
							<i class="fe fe-document"></i>
							<span>Reservation</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_message') }}">
							<i class="fe fe-mail"></i>
							<span>Message</span>
						</a>
					</li>
					<li>
						<a href="{{path ('profile')}}">
							<i class="fe fe-user-plus"></i>
							<span>Profile</span>
						</a>
					</li>


				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->
{% endblock %}
{% block pageheader %}
	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-7 col-auto">
				<h3 class="page-title">Reservation</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('app_homeAdmin') }}">Tableau de bord</a>
					</li>
					<li class="breadcrumb-item active">Reservation</li>
				</ul>
			</div>

		</div>
	</div>
	<!-- /Page Header -->
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table mb-0">
							<thead>
								<tr>
									<th>Residence</th>
									<th>Appartement</th>
									<th>Nom</th>
									<th>Prenom</th>
									<th>Telephone</th>
									<th>Email</th>
									<th>Message</th>
									<th>Etat</th>
									<th class=" text-right">actions</th>
								</tr>
							</thead>
							<tbody>
								{% for reservation in reservations %}
									{% if reservation.residence is not null and reservation.appartement is not null %}
										<tr>
											<td>{{ reservation.residence}}</td>
											<td>
												<h2 class="table-avatar">
													<a href="{{ path('app_appartement_edit1', {'residenceId': reservation.residence.id, 'appartementId': reservation.appartement.id}) }}">{{ reservation.appartement}}</a>
												</h2>
											</td>

											<td>{{ reservation.nom }}</td>
											<td>{{ reservation.prenom }}</td>
											<td>{{ reservation.telephone }}</td>
											<td>{{ reservation.email }}</td>
											<td>{{ reservation.message }}</td>
											<td>
												{% if reservation.etat == 'Non Traité' %}
													<span class="badge badge-pill bg-danger inv-badge">{{ reservation.etat }}</span>
												{% elseif reservation.etat == 'Traité' %}
													<span class="badge badge-pill bg-success inv-badge">{{ reservation.etat }}</span>
												{% else %}
													<span class="badge badge-pill bg-secondary inv-badge">Unknown</span>
												{% endif %}
											</td>
											<td class="text-right">
												<div class="actions">
													<a class="btn btn-sm bg-success-light" href="{{ path('app_reponse_new', {'id': reservation.id}) }}">
														<i class="fe fe-check"></i>Repondre</a>
													<form class="d-inline" method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
														<button class="btn btn-sm bg-danger-light">
															<i class="fe fe-trash"></i>Supprimer</button>
													</form>
												</div>
											</td>
											<!--<td>
																																																																																																																																																																																																																																																																	<a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
																																																																																																																																																																																																																																																																	<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
																																																																																																																																																																																																																																																																</td>-->
										</tr>
									{% endif %}
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
