{% extends 'base.html.twig' %}

{% block title %}Residence{% endblock %}

{% block body %}
    <h1>Residence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ residence.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ residence.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_residence_index') }}">back to list</a>

    <a href="{{ path('app_residence_edit', {'id': residence.id}) }}">edit</a>

    {{ include('residence/_delete_form.html.twig') }}
{% endblock %}
